* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./img/cork.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-image: url("./img/wall.png");
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
  font-size: clamp(48px, 10vw, 160px);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Edu TAS Beginner', sans-serif;
}

p {
    font-family: 'Sometype Mono', monospace;
}

/* STYLE POLAROID */

#main-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    background: #fff;
    padding: 16px 16px 28px;
    /* bottom più grande */
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
    position: relative;
    width: calc((100% - 64px) / 3); 
}

.img-container {
    background: #6bd36b;
    /* placeholder verde */
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    /* quando arriva l’immagine vera */
}

.img-container img{width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* testo sotto */
.caption {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.3;
}

.card::before {
    content: "";
    position: absolute;
    top: -18px;
    /* regola in base al tuo svg */
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    /* dimensioni svg */
    height: 32px;
    background-image: url("./img/pin.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    /* decorativo */
    z-index: 2;
}



/* responsive */

/* tablet */
@media (max-width: 992px){
  .card{ width: calc((100% - 32px) / 2); }
}

/* mobile */
@media (max-width: 576px){
  .card{ width: 100%; }
}